<form action="/version/create" method="post">
	<label for="project_name">version</label>
	<input type="text" name="version" id="version" >
	<input type="hidden" value="<%=project.id%>" name="project_id" id="project_id">
	<button type="submit">add version</button> 
</form>